body {
    background-color: #E7EBEC;
}

h1 {
    font-size: 7rem;
    margin-top: 20px;
}

ul {
    list-style: none;
}

input, li {
    background-color: white;
    width: 600px;
    margin: auto;
    height: 50px;
    font-size: 1.3rem;
    border: solid 1px #B4B4B4;
    padding-left: 20px;
}

h6 {
    padding-top: 10px;
}

button {
    float: right;
}